<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phg.constellations" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0">
    <name>Constellations</name>
    <description>
        Reference app for star charts and detail info on the 88 modern constellations. 
    </description>
    <author email="indie1357" href="http://gituser1357.github.io/constellations">
        indie1357
    </author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="EnableViewportScale" value="true" />
    <icon src="icon.png" />  
    <content src="index.html" />     
    <access origin="" />
</widget>
